.numpad-container {
  display: flex;
  width: 30%;
  height: 60%;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #453e;
  margin: 0 auto;
  gap: 2em;
  padding: 1em;
  button {
    height: 10%;
    width: 15%;
    font-size: 1.2rem;
  }
}
.numpad-container button:nth-last-child(1) {
  width: 100px;
}
.numpad-container button:nth-last-child(2) {
  width: 100px;
  font-size: 2rem;
  text-align: center;
}
.display-container {
  display: flex;
  width: 30%;
  height: 20%;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #453e;
  margin: 0 auto;
  gap: 1em;
  padding: 1em;
  background-color: #eee;
  div {
    text-align: right;
  }
}
